:root{
  --main-color: hsl(26, 100%, 55%);
  --card-hover: hsl(25, 100%, 94%);
  --title-color1: hsl(220, 13%, 13%);
  --text-color: hsl(219, 9%, 45%);
  --bg-color2: hsl(220, 14%, 75%);
  --bg-color3: hsl(223, 64%, 98%);
  --bg-color: hsl(0, 0%, 100%);
  --modal-color: hsla(0, 0%, 0%, 0.752);
}