@use '../util/' as *;

.gallery{

  &__image-container{
    background-image: url(../../../images/image-product-1.jpg);
    height: 18.75rem;
    // width: 18.75rem;
    background-size: cover;
    background-position-y:-35px;
  }
  &__previous{
    @include image-btn;
    top: 8.125rem;
    left: 0.9375rem;
  }
  &__next{
    // display: none;
    @include image-btn;
    top: 8.125rem;
    right: 0.9375rem;
  }
  &__thumnails{
    display: none;
    @include breakpoint(large){
      display: block;
    }
  }
}
